
.signup-container {
  width: 100%;
  height: 100vh;
  display: flex;
  background: #fff;
  font-family: "Inter", sans-serif;
}

/* Left form area */
.signup-left {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-box {
    transform: scale(60%);
  width: 70%;
  max-width: 520px;
}

.signup-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #111;
}

/* "Sign in instead" link */
.signup-login-link {
  font-size: 14px;
  margin-bottom: 20px;
}

.signup-login-link a {
  color: #0066ff;
  text-decoration: none;
}

/* Input fields */
.signup-label {
  font-size: 14px;
  color: #444;
  margin-top: 12px;
  display: block;
}

.signup-input {
  width: 100%;
  padding: 12px 14px;
  margin: 6px 0 14px 0;
  border-radius: 6px;
  border: 1px solid #d2d2d2;
  font-size: 15px;
}

/* Checkbox */
.signup-check {
  display: flex;
  align-items: start;
  gap: 8px;
  margin-bottom: 18px;
  font-size: 14px;
}

.signup-check a {
  color: #0066ff;
  text-decoration: none;
}

/* Button */
.signup-btn {
  width: 100%;
  padding: 12px;
  background: #c9c9c9;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
}

.signup-btn:hover {
  background: #b3b3b3;
}

/* Footer small text */
.signup-footer {
  margin-top: 20px;
  font-size: 12px;
  color: #777;
  line-height: 1.4;
}

/* Right image section */
.signup-right {
  width: 30%;
  height: 100%;
}

.signup-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
