.dashbaord-container{
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 94px;
  height: 410px;
  background: #fafbfc;
  color: #424242;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 2px solid #c4c8cc;
}


.link {
  color: #424242;
  text-decoration: none;
  padding: 10px 0;
  margin-bottom: 10px;
}

.link.active {
  color: black;
  /* font-weight: bold; */
}

/* Main content area */
.content-area {
  flex-grow: 1;
  padding: 20px;
  background: #f4f4f7;
}
